# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Reports
reports/
allure-report/
allure-results/

# Logs
logs/

# Screenshots
screenshots/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db